

body {
    background-image: url("https://www.fulcrumgallery.com/product-images/P917024-10/raining-cats-and-dogs.jpg");
    text-align: center;
    font-family: 'Sigmar One', cursive;
    font-size: xx-large;
    
}